.giveaway-detail .giveaway-gift img{
    max-height: 500px;
    max-width: 100%;
}

.giveaway-detail .giveaway-owner .giveaway-owner__name {
    color: #000;
    font-weight: 500;
}

.giveaway-detail .rules {
    list-style-type: none;
    padding-left: 0;
}